{#- Type: get, Valid Target: NT Cards, LT Cards -#}
{#- Function: Gets the status of the application software revisions, used for validating software has downloaded correctly -#}
{#- Prequisites: None -#}
{#- Additional info: None -#}
<filter>
    <anv:device-manager xmlns:anv="http://www.nokia.com/management-solutions/anv">
    <adh:device xmlns:adh="http://www.nokia.com/management-solutions/anv-device-holders">
    <adh:device-id>{{ target_element }}</adh:device-id>
    <device-specific-data xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
        <hardware-state xmlns="urn:ietf:params:xml:ns:yang:ietf-hardware">
        <component>
            <name>Chassis</name>
            <software xmlns="urn:bbf:yang:bbf-software-image-management-one-dot-one">
                <software>
                    <name>application_software</name>
                    <revisions>
                        <revision/>
                    </revisions>
                </software>
            </software>
        </component>
        </hardware-state>
    </device-specific-data>
    </adh:device>
    </anv:device-manager>
</filter>