{#- Type: get, Valid Target: NT Cards, LT Cards -#}
{#- Function: Gets the lock and migration state of the targetted element -#}
{#- Prequisites: None -#}
{#- Additional info: None -#}
<filter type="subtree">
    <anv:device-manager
        xmlns:anv="http://www.nokia.com/management-solutions/anv">
        <adh:device
            xmlns:adh="http://www.nokia.com/management-solutions/anv-device-holders">
            <adh:device-id>{{ target_element }}</adh:device-id>
            <adh:device-state>
                <adh:locked-for-migration/>
            </adh:device-state>
            <swmgmt:software
                xmlns:swmgmt="http://www.nokia.com/management-solutions/anv-software">
                <swmgmt:use-rollback-datastore/>
            </swmgmt:software>
        </adh:device>
    </anv:device-manager>
</filter>