<filter>
    <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
        <software-management xmlns="http://www.nokia.com/management-solutions/anv-software">
            <device-software-files-on-server>
            <available-file>
                <file-server>default-http</file-server>
                <file-name>{{ cf_nokia_olt_rollback__passive_sw }}</file-name>
                <sub-directory/>
            </available-file>
            </device-software-files-on-server>
        </software-management>
    </device-manager>
</filter>