{#- Type: action, Valid Target: IHUB -#}
{#- Function: Locks the IHUB for migration -#}
{#- Prequisites: None -#}
{#- Additional info: None -#}
<device-manager xmlns="http://www.nokia.com/management-solutions/anv">
    <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
        <device-id>{{ target_element }}</device-id>
        <lock-for-migration/>
    </device>
</device-manager>