{#- Type: edit-config, Valid Target: NT Cards -#}
{#- Function: Sets the target active software flag and removes passive software flag which will reboot the card -#}
{#- Prequisites: Device has had the passive software staged to the device -#}
{#- Additional info: Device has had the passive software staged to the device -#}
<target>
    <running/>
</target>
<default-operation>merge</default-operation>
<test-option>set</test-option>
<error-option>rollback-on-error</error-option>
<config>
    <anv:device-manager xmlns:anv="http://www.nokia.com/management-solutions/anv"
                                    xmlns:adh="http://www.nokia.com/management-solutions/anv-device-holders"
                                    xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
        <adh:device xc:operation="merge">
            <adh:device-id>{{ target_element }}</adh:device-id>
                <tag:configured-labels xmlns:tag="http://www.nokia.com/management-solutions/anv-device-tag">
                    <tag:label xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" nc:operation="merge">
                        <tag:name>migrated-with</tag:name>
                        <tag:value>IHUB.{{ target_element }}</tag:value>
                    </tag:label>
                </tag:configured-labels>
            <swmgmt:software xmlns:swmgmt="http://www.nokia.com/management-solutions/anv-software">
                <!-- Added for audit misalignment -->
                <swmgmt:target-active-software>
                    <swmgmt:file-server>default-http</swmgmt:file-server>
                    <swmgmt:file-name>{{ cf_nokia_olt_rollback__sw_name }}</swmgmt:file-name>
                    <swmgmt:sub-directory>{{ cf_nokia_olt_rollback__sw_directory }}</swmgmt:sub-directory>
                </swmgmt:target-active-software>
                <swmgmt:target-passive-software xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" nc:operation="replace"/>
            </swmgmt:software>
        </adh:device>
    </anv:device-manager>
</config>