<source>
    <running/>
</source>
<filter>
    <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
    <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
        <device-id>{{ target_element }}</device-id>
        <software xmlns="http://www.nokia.com/management-solutions/anv-software">
        <target-passive-software/>
        </software>
    </device>
    </device-manager>
</filter>