{#- Type: edit-config, Valid Target: NT Cards, LT Cards -#}
{#- Function: Removes the target passive software configuration from the device -#}
{#- Prequisites: Device has had the passive software staged to the device -#}
{#- Additional info: We use this in a rescue block to reset the passive target flag, so we can go through the process again -#}
<target>
  <running/>
</target>
<config>
  <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
    <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
      <device-id>{{ target_element }}</device-id>
      <software xmlns="http://www.nokia.com/management-solutions/anv-software">
        <target-passive-software xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" nc:operation="replace"/>
      </software>
    </device>
  </device-manager>
</config>