{#- Type: edit-config, Valid Target: NT Cards, LT Cards -#}
{#- Function: Sets the target passive software configuration on the OLT to the version we specify in the play -#}
{#- Prequisites: None -#}
{#- Additional info: In our task play, if this is already set, we'll remove it and then re-send the  -#}
<target>
    <running/>
</target>
<default-operation>none</default-operation>
<test-option>set</test-option>
<error-option>rollback-on-error</error-option>
<config>
    <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
    <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
        <device-id>{{ target_element }}</device-id>
        <software xmlns="http://www.nokia.com/management-solutions/anv-software" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" nc:operation="merge">
        <target-passive-software>
            <file-server>default-http</file-server>
            <file-name>{{ cf_nokia_olt_upgrade__olt_sw['image_name'] }}</file-name>
            <sub-directory>{{ cf_nokia_olt_upgrade__olt_sw['image_dir'] }}</sub-directory>
        </target-passive-software>
        </software>
    </device>
    </device-manager>
</config>