{#- Type: get, Valid Target: NT Card -#}
{#- Function: Pulls back the list of associated elements (LT/NT) with a particular hostname, used for building our job inventory per hostname -#}
{#- Prequisites: None -#}
{#- Additional info: None -#}
<filter>
    <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
    <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
        <device-id>{{ inventory_hostname }}</device-id>
        <device-specific-data>
            <hardware-state xmlns="urn:ietf:params:xml:ns:yang:ietf-hardware">
                <component>
                <model-name>LMNT-B</model-name>
                </component>
                <component>
                <model-name>LWLT-C</model-name>
                </component>
            </hardware-state>
        </device-specific-data>
    </device>
    </device-manager>
</filter>