{#- Type: get, Valid Target: LT Card -#}
{#- Function: Pulls back the list of associated ONUs for use in configuration -#}
{#- Prequisites: None -#}
{#- Additional info: None -#}
<filter type="subtree">
    <anv:device-manager xmlns:anv="http://www.nokia.com/management-solutions/anv">
    <adh:device xmlns:adh="http://www.nokia.com/management-solutions/anv-device-holders">
        <adh:device-id>{{ target_element }}</adh:device-id>
        <adh:device-specific-data>
        <interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
            <interface xmlns:bbf-xponift="urn:bbf:yang:bbf-xpon-if-type">
            <v-ani xmlns="urn:bbf:yang:bbf-xponvani">
                <onu-id> </onu-id>
            </v-ani>
            </interface>
        </interfaces>
        </adh:device-specific-data>
    </adh:device>
    </anv:device-manager>
</filter>