{#- Type: get, Valid Target: NT Cards, LT Cards -#}
{#- Function: Pulls back the connectivity status for the device as reported via AVP, good for validating devices coming back etc -#}
{#- Prequisites: None -#}
{#- Additional info: None -#}
<filter>
    <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
        <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
            <device-id>{{ target_element }}</device-id>
            <device-state>
            <reachable/>
            <aligned/>
            <plug-mismatch/>
            <configuration-error/>
            </device-state>
        </device>
    </device-manager>
</filter>