#jinja2: lstrip_blocks: True
<target>
  <running/>
</target>
<default-operation>merge</default-operation>
<test-option>set</test-option>
<error-option>stop-on-error</error-option>
<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <device-manager xmlns="http://www.nokia.com/management-solutions/anv">
    {% for linecard in olt_profile_tool__nokia_installed_linecards %}
    <device xmlns="http://www.nokia.com/management-solutions/anv-device-holders">
      <device-id>{{ linecard }}.{{ inventory_hostname }}</device-id>
      <device-specific-data>
        <policing-profiles xmlns="urn:bbf:yang:bbf-qos-policing">
          <policing-profile>
            <name>POL_330M_P_40M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>40000000</cir>
              <cbs>40000</cbs>
              <eir>290000000</eir>
              <ebs>225000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_80M_P_10M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>10000000</cir>
              <cbs>15000</cbs>
              <eir>70000000</eir>
              <ebs>109000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_40M_P_10M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>10000000</cir>
              <cbs>15000</cbs>
              <eir>30000000</eir>
              <ebs>109000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_110M_P_10M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>10000000</cir>
              <cbs>15000</cbs>
              <eir>100000000</eir>
              <ebs>151000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_160M_P_10M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>10000000</cir>
              <cbs>15000</cbs>
              <eir>150000000</eir>
              <ebs>151000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_550M_P_50M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>50000000</cir>
              <cbs>50000</cbs>
              <eir>500000000</eir>
              <ebs>225000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_1.2G_P_70M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>70000000</cir>
              <cbs>70000</cbs>
              <eir>1130000000</eir>
              <ebs>500000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_2.8G_P_70M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>70000000</cir>
              <cbs>70000</cbs>
              <eir>2730000000</eir>
              <ebs>500000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_5.5G_P_70M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>70000000</cir>
              <cbs>70000</cbs>
              <eir>5430000000</eir>
              <ebs>500000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
          <policing-profile>
            <name>POL_7.9G_P_70M_C</name>
            <two-rate-three-color-marker-mef>
              <cir>70000000</cir>
              <cbs>70000</cbs>
              <eir>7830000000</eir>
              <ebs>500000</ebs>
              <couple-flag>0</couple-flag>
              <color-mode>color-blind</color-mode>
            </two-rate-three-color-marker-mef>
          </policing-profile>
        </policing-profiles>
        <policies xmlns="urn:bbf:yang:bbf-qos-policies">
          <policy>
            <name>PLY_40M_P_10M_C</name>
            <classifiers>
              <name>CLF_Voice</name>
            </classifiers>
            <classifiers>
              <name>CLF_40M_P_10M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_40M_P_10M_C_singleTC</name>
            <classifiers>
              <name>CLF_40M_P_10M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_80M_P_10M_C</name>
            <classifiers>
              <name>CLF_Voice</name>
            </classifiers>
            <classifiers>
              <name>CLF_80M_P_10M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_80M_P_10M_C_singleTC</name>
            <classifiers>
              <name>CLF_80M_P_10M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_330M_P_40M_C</name>
            <classifiers>
              <name>CLF_Voice</name>
            </classifiers>
            <classifiers>
              <name>CLF_330M_P_40M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_330M_P_40M_C_singleTC</name>
            <classifiers>
              <name>CLF_330M_P_40M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_2.8G_P_70M_C</name>
            <classifiers>
              <name>CLF_Voice</name>
            </classifiers>
            <classifiers>
              <name>CLF_2.8G_P_70M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_2.8G_P_70M_C_singleTC</name>
            <classifiers>
              <name>CLF_2.8G_P_70M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_5.5G_P_70M_C</name>
            <classifiers>
              <name>CLF_Voice</name>
            </classifiers>
            <classifiers>
              <name>CLF_5.5G_P_70M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_5.5G_P_70M_C_singleTC</name>
            <classifiers>
              <name>CLF_5.5G_P_70M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_7.9G_P_70M_C</name>
            <classifiers>
              <name>CLF_Voice</name>
            </classifiers>
            <classifiers>
              <name>CLF_7.9G_P_70M_C</name>
            </classifiers>
          </policy>
          <policy>
            <name>PLY_7.9G_P_70M_C_singleTC</name>
            <classifiers>
              <name>CLF_7.9G_P_70M_C</name>
            </classifiers>
          </policy>
        </policies>
        <classifiers xmlns="urn:bbf:yang:bbf-qos-classifiers">
          <classifier-entry>
            <name>CLF_40M_P_10M_C</name>
            <filter-operation>match-all-filter</filter-operation>
            <bbf-qos-enhfilt:any-frame xmlns:bbf-qos-enhfilt="urn:bbf:yang:bbf-qos-enhanced-filters" />
            <classifier-action-entry-cfg>
              <action-type xmlns:bbf-qos-plc="urn:bbf:yang:bbf-qos-policing">bbf-qos-plc:policing</action-type>
              <policing xmlns="urn:bbf:yang:bbf-qos-policing">
                <policing-profile>POL_40M_P_10M_C</policing-profile>
              </policing>
            </classifier-action-entry-cfg>
          </classifier-entry>
          <classifier-entry>
            <name>CLF_80M_P_10M_C</name>
            <filter-operation>match-all-filter</filter-operation>
            <bbf-qos-enhfilt:any-frame xmlns:bbf-qos-enhfilt="urn:bbf:yang:bbf-qos-enhanced-filters" />
            <classifier-action-entry-cfg>
              <action-type xmlns:bbf-qos-plc="urn:bbf:yang:bbf-qos-policing">bbf-qos-plc:policing</action-type>
              <policing xmlns="urn:bbf:yang:bbf-qos-policing">
                <policing-profile>POL_80M_P_10M_C</policing-profile>
              </policing>
            </classifier-action-entry-cfg>
          </classifier-entry>
          <classifier-entry>
            <name>CLF_330M_P_40M_C</name>
            <filter-operation>match-all-filter</filter-operation>
            <bbf-qos-enhfilt:any-frame xmlns:bbf-qos-enhfilt="urn:bbf:yang:bbf-qos-enhanced-filters" />
            <classifier-action-entry-cfg>
              <action-type xmlns:bbf-qos-plc="urn:bbf:yang:bbf-qos-policing">bbf-qos-plc:policing</action-type>
              <policing xmlns="urn:bbf:yang:bbf-qos-policing">
                <policing-profile>POL_330M_P_40M_C</policing-profile>
              </policing>
            </classifier-action-entry-cfg>
          </classifier-entry>
          <classifier-entry>
            <name>CLF_2.8G_P_70M_C</name>
            <filter-operation>match-all-filter</filter-operation>
            <bbf-qos-enhfilt:any-frame xmlns:bbf-qos-enhfilt="urn:bbf:yang:bbf-qos-enhanced-filters" />
            <classifier-action-entry-cfg>
              <action-type xmlns:bbf-qos-plc="urn:bbf:yang:bbf-qos-policing">bbf-qos-plc:policing</action-type>
              <policing xmlns="urn:bbf:yang:bbf-qos-policing">
                <policing-profile>POL_2.8G_P_70M_C</policing-profile>
              </policing>
            </classifier-action-entry-cfg>
          </classifier-entry>
          <classifier-entry>
            <name>CLF_5.5G_P_70M_C</name>
            <filter-operation>match-all-filter</filter-operation>
            <bbf-qos-enhfilt:any-frame xmlns:bbf-qos-enhfilt="urn:bbf:yang:bbf-qos-enhanced-filters" />
            <classifier-action-entry-cfg>
              <action-type xmlns:bbf-qos-plc="urn:bbf:yang:bbf-qos-policing">bbf-qos-plc:policing</action-type>
              <policing xmlns="urn:bbf:yang:bbf-qos-policing">
                <policing-profile>POL_5.5G_P_70M_C</policing-profile>
              </policing>
            </classifier-action-entry-cfg>
          </classifier-entry>
          <classifier-entry>
            <name>CLF_7.9G_P_70M_C</name>
            <filter-operation>match-all-filter</filter-operation>
            <bbf-qos-enhfilt:any-frame xmlns:bbf-qos-enhfilt="urn:bbf:yang:bbf-qos-enhanced-filters" />
            <classifier-action-entry-cfg>
              <action-type xmlns:bbf-qos-plc="urn:bbf:yang:bbf-qos-policing">bbf-qos-plc:policing</action-type>
              <policing xmlns="urn:bbf:yang:bbf-qos-policing">
                <policing-profile>POL_7.9G_P_70M_C</policing-profile>
              </policing>
            </classifier-action-entry-cfg>
          </classifier-entry>
        </classifiers>
        <qos-policy-profiles xmlns="urn:bbf:yang:bbf-qos-policies">
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_40M_P_10M_C_Tagged</name>
            <policy-list>
              <name>PLY_40M_P_10M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_40M_P_10M_C_TLS</name>
            <policy-list>
              <name>PLY_40M_P_10M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_TLS_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_40M_P_10M_C_PriorUntagged</name>
            <policy-list>
              <name>PLY_40M_P_10M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_40M_P_10M_C_Untagged</name>
            <policy-list>
              <name>PLY_40M_P_10M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_80M_P_10M_C_Tagged</name>
            <policy-list>
              <name>PLY_80M_P_10M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_80M_P_10M_C_TLS</name>
            <policy-list>
              <name>PLY_80M_P_10M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_TLS_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_80M_P_10M_C_PriorUntagged</name>
            <policy-list>
              <name>PLY_80M_P_10M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_80M_P_10M_C_Untagged</name>
            <policy-list>
              <name>PLY_80M_P_10M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_330M_P_40M_C_Tagged</name>
            <policy-list>
              <name>PLY_330M_P_40M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_330M_P_40M_C_TLS</name>
            <policy-list>
              <name>PLY_330M_P_40M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_TLS_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_330M_P_40M_C_PriorUntagged</name>
            <policy-list>
              <name>PLY_330M_P_40M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_330M_P_40M_C_Untagged</name>
            <policy-list>
              <name>PLY_330M_P_40M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_2.8G_P_70M_C_Tagged</name>
            <policy-list>
              <name>PLY_2.8G_P_70M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_2.8G_P_70M_C_TLS</name>
            <policy-list>
              <name>PLY_2.8G_P_70M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_TLS_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_2.8G_P_70M_C_PriorUntagged</name>
            <policy-list>
              <name>PLY_2.8G_P_70M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_2.8G_P_70M_C_Untagged</name>
            <policy-list>
              <name>PLY_2.8G_P_70M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_5.5G_P_70M_C_Tagged</name>
            <policy-list>
              <name>PLY_5.5G_P_70M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_5.5G_P_70M_C_TLS</name>
            <policy-list>
              <name>PLY_5.5G_P_70M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_TLS_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_5.5G_P_70M_C_PriorUntagged</name>
            <policy-list>
              <name>PLY_5.5G_P_70M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_5.5G_P_70M_C_Untagged</name>
            <policy-list>
              <name>PLY_5.5G_P_70M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_7.9G_P_70M_C_Tagged</name>
            <policy-list>
              <name>PLY_7.9G_P_70M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_7.9G_P_70M_C_TLS</name>
            <policy-list>
              <name>PLY_7.9G_P_70M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_TLS_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_7.9G_P_70M_C_PriorUntagged</name>
            <policy-list>
              <name>PLY_7.9G_P_70M_C</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
          <policy-profile xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
            nc:operation="replace">
            <name>PP_DS_7.9G_P_70M_C_Untagged</name>
            <policy-list>
              <name>PLY_7.9G_P_70M_C_singleTC</name>
            </policy-list>
            <policy-list>
              <name>fc-x_to_bac-x/fc-red_to_discard</name>
            </policy-list>
            <policy-list>
              <name>Cityfibre_Untag_from_marking</name>
            </policy-list>
          </policy-profile>
        </qos-policy-profiles>
        <xpongemtcont xmlns="urn:bbf:yang:bbf-xpongemtcont">
          <traffic-descriptor-profiles xmlns="urn:bbf:yang:bbf-xpongemtcont">
            <traffic-descriptor-profile>
              <name>TP_US_40M_P_10M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>10000000</assured-bandwidth>
              <maximum-bandwidth>40000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_80M_P_10M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>10000000</assured-bandwidth>
              <maximum-bandwidth>80000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_330M_P_40M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>40000000</assured-bandwidth>
              <maximum-bandwidth>330000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_550M_P_50M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>50000000</assured-bandwidth>
              <maximum-bandwidth>550000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_1.2G_P_70M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>70000000</assured-bandwidth>
              <maximum-bandwidth>1200000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_2.8G_P_70M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>70000000</assured-bandwidth>
              <maximum-bandwidth>2800000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_5.5G_P_70M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>70000000</assured-bandwidth>
              <maximum-bandwidth>5500000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
            <traffic-descriptor-profile>
              <name>TP_US_7.9G_P_70M_C</name>
              <fixed-bandwidth>0</fixed-bandwidth>
              <assured-bandwidth>70000000</assured-bandwidth>
              <maximum-bandwidth>7900000000</maximum-bandwidth>
              <jitter-tolerance xmlns="http://www.nokia.com/Fixed-Networks/BBA/yang/nokia-sdan-traffic-descriptor-profile-aug">16</jitter-tolerance>
            </traffic-descriptor-profile>
          </traffic-descriptor-profiles>
        </xpongemtcont>
      </device-specific-data>
    </device>
    {% endfor %}
  </device-manager>
</config>